* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: #506B2C;
}

#myVideo {
    object-fit: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#logo {
    position: absolute;
    cursor: pointer;
    top: 0.9rem;
    right: 2.7rem;
    width: 10.8rem;
    opacity: 0.6;
    transition: 0.2s;
}

#logo:hover {
    opacity: 1;
}

#links {
    position: absolute;
    top: 3.1rem;
    left: 2.4rem;
}

#links li {
    padding: 0.4rem;
}

#links a {
    cursor: pointer;
    opacity: 1;
    font-size: 1.9rem;
    letter-spacing: 4px;
    font-weight: bolder;
}

#links a:hover {
    opacity: 0.5;
}

body .icons {
    position: absolute;
    bottom: 1.6rem;
    left: 2.8rem;
}

body .icons i {
    font-size: 0.8rem;
    letter-spacing: 4px;
}

.icons i:hover {
    opacity: 0.5;
}

/* sections */

#closeBtn-music, #closeBtn-videos, #closeBtn-tour, #closeBtn-store, #closeBtn-follow {
    position: absolute;
    font-size: 3rem;
    top: 1rem;
    right: 2.5rem;
    cursor: pointer;
    font-family: 'Play', sans-serif;
    opacity: 1;
    color: #506B2C;
}

#closeBtn-music:hover, #closeBtn-videos:hover, #closeBtn-tour:hover, #closeBtn-store:hover, #closeBtn-follow {
    opacity: 0.7;
}

#music, #videos, #tour, #store, #follow {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(255, 248, 136, 0.75);
    display: none;
    justify-content: center;
    text-align: center;
    overflow: auto;
}

#music.active, #videos.active, #tour.active, #store.active, #follow.active {
    display: flex;
}

#section_title {
    padding: 2rem;
    font-size: 2rem;
}

/* music page */

.music_content {
    width: 80%;
}

.music_content .row {
    width: 100%;
    display: flex;
}

.music_content .card {
    width: 30rem;
    margin: 1rem;
}

.music_content .row2 {
    width: 100%;
    display: flex;
    padding: 0 0 1rem;
}

.music_content .row2 .card {
    width: 22rem;
}

.music_content .card img {
    width: 100%;
}

.music_content .card p {
    font-size: 1.25rem;
    padding: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.music_content .card a {
    cursor: pointer;
    background-color: #506B2C;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
    font-weight: bold;
}

.music_content .card a:hover {
    opacity: 0.7;
}

/* videos page */

/* tour page */

.tour_content {
    width: 50%;
    flex-direction: column;
}

.tour_content .card {
    width: 100%;
    text-align: center;
    margin-bottom: 4rem;
}

.tour_content #date, .tour_content #venue, .tour_content #city, .tour_content .btns {
    margin: 1rem 0;
}

.tour_content #date, .tour_content #city, .tour_content .btns {
    font-weight: bold;
}

.tour_content #venue {
    font-size: 1.25rem;
    letter-spacing: 2px;
}

.tour_content #city {
    font-style: italic;
}

.tour_content .btns a {
    margin: 0 0.25rem;
    cursor: pointer;
    background-color: #506B2C;
    color: white;
    padding: 0.5rem 2rem;
    font-size: 0.75rem;
    font-weight: bold;
}

.tour_content .btns a:hover {
    opacity: 0.7;
}

.tour_content h2 {
    font-size: 1.25rem;
    margin: 1rem;
}

.tour_content form {
    padding: 0 0 4rem;
}

.tour_content form input {
    padding: 0.75rem;
    border: none;
    outline: none;
    color: #506B2C;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-transform: uppercase;
}

.tour_content form input::placeholder {
    color: #506B2C;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.tour_content form a {
    cursor: pointer;
    background-color: #506B2C;
    color: white;
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: bold;
    height: 100%;
}

.tour_content form a:hover {
    opacity: 0.7;
}

/* store page */

/* follow page */

.follow_content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .follow_content h2{
    padding: 1rem 0;
} */

.follow_content form {
    padding: 1rem 0;
}

.follow_content form input {
    padding: 0.75rem;
    border: none;
    outline: none;
    color: #506B2C;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-transform: uppercase;
}

.follow_content form a {
    cursor: pointer;
    background-color: #506B2C;
    color: white;
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: bold;
    height: 100%;
}

.follow_content form a:hover {
    opacity: 0.7;
}

.follow_content .icons{
    position: relative;
    left: 0;
    bottom: 0;
    padding: 2rem;
}

.follow_content .icons i {
    font-size: 1.5rem;
    margin: 0 0.5rem;
}

/* media queries */

@media(max-width: 1023px) {
    .icons {
        display: none;
    }
    #logo {
        top: 2.25rem;
        right: 2.6rem;
        width: 20.7rem;
    }
    #links {
        top: 2.3rem;
        left: 3.2rem;
    }
    #links li {
        padding: 0.5rem;
    }
    #links a {
        font-size: 1.1rem;
        letter-spacing: 4px;
    }
}